.main{
     display: grid;
     column-gap: 50px;
     margin: 0 auto;
     border: solid 2px gray;
     padding: 50px;
    
}
.events {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 20px;
 }

 .event {
     border: 1px solid #ccc;
     padding: 20px;
 }

 .event__title {
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 10px;
 }

 .event__description {
     margin-bottom: 20px;
 }

 .event__buttons {
     display: flex;
     justify-content: space-between;
 }

 .event__button {
     padding: 10px 20px;
     background-color: #007bff;
     color: #fff;
     border: none;
     cursor: pointer;
 }

 .event__button:hover {
     background-color: #0056b3;
 }

/* модальне вікно випливання*/

 .modal {
     position: fixed; /* Розташувати вікно поверх всього контенту */
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Напівпрозоре тло */
     display: flex;
     align-items: center;
     justify-content: center;
 }

 /* модальне вікно випливання*/

 /* модальне вікно дизайн */
 .modal-content {
     padding: 20px;
     border-radius: 10px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     width: 30%;
 }
 
 .modal-title {
     text-align: center;
     font-size: 24px;
     margin-bottom: 20px;
 }
 
 .form-group {
     margin-bottom: 20px;
     display: grid;
 }
 
 label {
     display: block;
     font-weight: bold;
 }
 
 input[type="text"],
 input[type="email"],
 input[type="date"] {
     width: 100%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
 }
 
 .form-check {
     margin-top: 5px;
     display: -webkit-inline-box;
 }
 
 button[type="submit"] {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }
 
 button[type="submit"]:hover {
     background-color: #0056b3;
 }
 
 .modal-close {
     margin-top: 10px;
     background-color: #fb1004;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }
 .modal-close:hover{
     background-color: #990202;
}

 /* модальне вікно дизайн*/

 .modal__view {
    position: fixed; /* Розташувати вікно поверх всього контенту */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозоре тло */
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .participants-container {
    margin-top: 20px;
  }
  
  .participants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Four tiles per row */
    gap: 20px;
  }
  
  .participant-tile {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .participant-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .participant-email {
    color: #666;
  }

.view__width {
    width: 60%;
}